*, *::before, *::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, header, aside, img {
  display: block;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #f1f5f8;
}

a {
  font-family: "Zilla Slab", serif;
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .container {
    width: calc(100% - 32px);
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .container {
    width: 100% !important;
  }
}
@media all and (min-width: 1320px) {
  .container {
    width: 1400px;
  }
}
@media all and (min-width: 1320px) {
  section {
    padding: 30px 40px;
    font-family: "Zilla Slab", serif;
  }
  section .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  section .container .title {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-align: center;
    color: #ff6a23;
  }
  section .container .options {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  section .container .options button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 8px;
    background-color: white;
  }
  section .container .menu {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section .container .menu .menu-box {
    display: flex;
    gap: 10px;
  }
  section .container .menu .menu-box img {
    width: 172px;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 0.25vh black solid;
    border-radius: 10px;
  }
  section .container .menu .menu-box .item {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  section .container .menu .menu-box .item .item-A {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (max-width: 767px) {
  section {
    margin-top: 70px;
    overflow-y: scroll;
  }
  section .container .title {
    display: none;
  }
  section .container .options {
    display: none;
  }
  section .container .menu {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
  }
  section .container .menu .menu-box {
    display: flex;
    gap: 5px;
    border: 1px solid #ececec;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 8px;
    height: 100px;
  }
  section .container .menu .menu-box img {
    margin: auto 5px;
    width: 73px;
    height: 82px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 0.25vh lightgray solid;
    border-radius: 10px;
  }
  section .container .menu .menu-box .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  section .container .menu .menu-box .item .item-A {
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  section .container .menu .menu-box .item hr {
    display: none;
  }
  section .container .menu .menu-box .item .item-B {
    font-size: small;
    overflow: hidden;
  }
}
@media all and (min-width: 768px) and (max-width: 1319px) {
  section {
    font-family: "Zilla Slab", serif;
  }
  section .container .title {
    display: none;
  }
  section .container .options {
    display: none;
  }
  section .container .menu {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  section .container .menu .menu-box {
    display: flex;
    height: 153px;
    gap: 5px;
  }
  section .container .menu .menu-box img {
    margin: auto;
    width: 110px;
    height: 122px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 0.25vh lightgray solid;
    border-radius: 10px;
  }
  section .container .menu .menu-box .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  section .container .menu .menu-box .item .item-A {
    font-size: 14px;
    padding-right: 8px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  section .container .menu .menu-box .item hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  section .container .menu .menu-box .item .item-B {
    overflow: hidden;
    font-size: small;
  }
}
@media all and (min-width: 1320px) {
  header {
    display: none;
  }
}
@media all and (max-width: 767px) {
  header {
    display: inline;
  }
  header nav a {
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
  }
  header nav a:hover {
    color: rgb(13, 110, 153);
  }
}
@media all and (min-width: 768px) and (max-width: 1319px) {
  header {
    display: inline;
  }
  header nav a {
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
  }
  header nav a:hover {
    color: rgb(13, 110, 153);
  }
}/*# sourceMappingURL=main.css.map */